/* Header */
.navbar-nav
{
    margin: auto;
}
.nav-item
{
    padding:0px 10px;
}
.nav-link
{
    font-size:15px;
    font-weight:700;
}
/* Header */

.border-radius
{
    border-radius:50px !important;
}
a{
    text-decoration:none;
}
.pr{
    padding-right:20px;
}
.pl{
    padding-left:20px;
}

/* Headings */
h3,h4{
    text-transform:uppercase !important;
}

h3,h4
{
    /* color:#e8443d; */
    color:#4195d2;
    text-transform:uppercase;
    font-weight:700;
}
h3
{
    font-size:20px;
}
h4
{
    font-size:18px;
  
}
/* Headings */

/* List  */

/* Table */

/* Table */

ul{
    list-style-type:none;
}
/* List  */


/* Forms */
.form-control,.form-select,.form-control:focus,.form-select:focus
{
    border-color:#000000 !important;
  
}
.form-control:focus,.form-select:focus
{
    box-shadow:none !important;
}
  
.text-nowrap 
{
    white-space: nowrap;
}

textarea 
{
    resize:none;
}

  
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] 
{
    -moz-appearance: textfield;
}
/* Forms */

/* Login */
label
{
    margin-right:25px;
    width:160px;
  
}
.inline
{
    display:flex;
    margin:25px;
}
/* .card
{
    border:1px solid #000000;

} */
/* Login */

/* Admin Dashboard */

/* Admin Dashboard */
.dataTables_length{
    margin-bottom:50px!important;
}

.paginate_button.current{
    border-radius:50px!important;
    padding:0px!important;
}


/* Adjust margins and padding as needed */
.dropdown-item {
    display: inline;
    padding: 8px 10px;
  }
  
 
