{% extends '../base.html' %}
{% block content %}
<div class="container">
    <form method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-5 mb-5">
            <div class="col-md-6">
                <div class="mb-3 mt-3 inline">
                    <label for="startup_name">Startup Name</label>
                    <input type="text" class="form-control w-50" name="startup_name" value="{{company.name}}" required>
                </div>
                
                <div class="mb-3 mt-3 inline">
                    <label for="subscription_type">Subscription Type</label>
                    <select class="form-select w-50" id="subscription_type" name="subscription_type" value="{{company.subscription_type}}" required>
                        <option value="">Select</option>
                        <option value="basic">Basic</option>
                        <option value="premium">Premium</option>
                        <option value="advance">Advance</option>
                    </select>
                </div>
                <div class="mb-3 mt-3 inline">
                    <label for="business_introductry_video">Business Introductory Video (File)</label>
                    <input type="file" class="w-50" name="business_introductory_video" value="{{company_profile.business_introductry_video}}" >
                    {% if company_profile.business_introductory_video %}
                        <a href="{{ company_profile.business_introductory_video.url }}" target="_blank">Current Video</a>
                        
                    {% endif %}
                </div>
                <div class="mb-3 mt-3 inline">
                    <label for="business_plan">Business Plan</label>
                    <input type="file" class="w-50" name="business_plan" value="{{company_profile.business_plan}}" >
                    {% if company_profile.business_plan %}
                        <a href="{{ company_profile.business_plan.url }}" target="_blank">Current Business Plan</a>
                    {% endif %}
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="mb-3 mt-3 inline">
                    <label for="website_url">Website URL</label>
                    <input type="text" class="form-control w-50" name="website_url"  value="{{company.website_url}}" required>
                </div>
                <div class="mb-3 mt-3 inline">
                    <label for="sector">Sector</label>
                    <input type="text" class="form-control w-50" name="sector" value="{{company_profile.sector}}" required>
                </div>
                
                <div class="mb-3 mt-3 inline">
                    <label for="business_introductry_video_url">Business Introductory Video (URL)</label>
                    <input type="url" class="form-control w-50" name="business_introductry_video_url" value="{{company_profile.business_introductory_video_url}}" >
                </div>
                
                
            </div>
        </div>

        {% for founder in founders %}

        <!-- Founder Details Section -->
        <div id="founders-section">
            <div class="row mt-5 mb-5 founder-section">
                <h4 class="mb-4 text-center">Founder {{ forloop.counter }}  Details</h4>
                <div class="col-md-6">
                    <div class="mb-3 mt-3 inline">
                        <label for="founder1_name">Name</label>
                        <input type="text" class="form-control w-50" name="founder1_name" value="{{founder.name}}" required>
                    </div>
                    <div class="mb-3 mt-3 inline">
                        <label for="founder1_linkedin_profile">LinkedIn Profile</label>
                        <input type="text" class="form-control w-50" name="founder1_linkedin_profile" value="{{founder.linkedin_url}}" required>
                    </div>
                    <div class="mb-3 mt-3 inline">
                        <label for="founder1_short_profile">Short Profile</label>
                        <textarea class="form-control w-50" rows="6" name="founder1_short_profile" required>{{founder.short_profile}}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 mt-3 inline">
                        <label for="founder1_phone_no">Phone Number</label>
                        <input type="number" class="form-control w-50" name="founder1_phone_no" value="{{founder.phone_number}}" required>
                    </div>
                    <div class="mb-3 mt-3 inline">
                        <label for="founder1_email">Email ID</label>
                        <input type="email" class="form-control w-50" name="founder1_email" value="{{founder.email}}" required>
                    </div>
                    <div class="mb-3 mt-3 inline">
                        <label for="founder1_photo">Professional Photo</label>
                        <input type="file" class="w-50" name="founder1_photo" value="{{founder.photo}}" >
                        {% if founder.photo %}
                            <img src="{{ founder.photo.url }}" alt="Current Photo" style="max-width: 100px;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Button to Add More Founders -->
        <!-- <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary" id="add-founder-btn">Add Another Founder</button>
            </div>
        </div> -->

        <!-- Vision, Mission, USP Section -->
        <div class="row mt-5 mb-5">
            <h4 class="mb-4 text-center">Vision and Mission</h4>
            <div class="col-md-6">
                <div class="mb-3 mt-3 inline">
                    <label for="vision">Vision</label>
                    <textarea class="form-control w-50" rows="6" name="vision"  required>{{company_profile.vision}}</textarea>
                </div>
                <div class="mb-3 mt-3 inline">
                    <label for="mission">Mission</label>
                    <textarea class="form-control w-50" rows="6" name="mission" placeholder="How will you reach the Vision"  required>{{company_profile.mission}}</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 mt-3 inline">
                    <label for="usp">USP (Unique Selling Proposition)</label>
                    <textarea class="form-control w-50" rows="6" name="usp"  required>{{company_profile.usp}}</textarea>
                </div>
            </div>
        </div>


         <!-- Client Names Section -->
        <div id="clients-section" class="row mt-5 mb-5">
            <h4 class="mb-4 text-center">Clients and Logo</h4>
            {% for client in clients %}

            <div class="col-md-6">
  
                  <div id="clients-section" class="mb-3 mt-3 inline">
                      <label for="client_{{ forloop.counter }}">Client {{ forloop.counter }}</label>
                      <input type="text" class="form-control w-50" name="client_{{ forloop.counter }}" value="{{client.name}}" required>
                  </div>
  
            </div>
            <div class="col-md-6">
                <div class="mb-3 mt-3 inline">
                    <label for="client_{{forloop.counter }}_logo">Logo</label>
                    <input type="file" class="w-50" name="client_{{ forloop.counter }}_logo"  value="{{client.logo}}">
                    {% if client.logo %}
                            <img src="{{ client.logo.url }}" alt="logo" style="max-width: 100px;">
                        {% endif %}
                </div>
            </div>
            {% endfor %}

             
        </div>
        
        <!-- Social Media Links Section -->
        <div  class="row mt-5 mb-5">
            <div class="col-md-6">
            <h4 class="mb-4 text-center">Social Media Links</h4>
                {% for social_media_url in social_media_urls%}
                <div id="social-media-section" class="mb-3 mt-3 inline">
                    <label for="url_{{ forloop.counter }}">URL {{ forloop.counter }}</label>
                    <input type="text" class="form-control w-50" name="url_{{ forloop.counter }}" value="{{social_media_url.url}}" required>
                </div>
                {% endfor %}

            </div>
            <div class="col-md-6">
                
            </div>
            
        </div>
        <!-- Button to Add More Social Media URLs -->
        <!-- <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary" id="add-url-btn">Add Another URL</button>
            </div>
        </div> -->

        

        <!-- Client Names Section -->
        <!-- <div id="clients-section" class="row mt-5 mb-5">
            <h4 class="mb-4 text-center">Client Names</h4>
            <div class="col-md-6">
                <div class="mb-3 mt-3 inline">
                    <label for="client_1">Client 1</label>
                    <input type="text" class="form-control w-50" name="client_1" value="{{client.name}}" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 mt-3 inline">
                    <label for="client_2">Client 2</label>
                    <input type="text" class="form-control w-50" name="client_2"  value="{{client.name}}" required>
                </div>
            </div>
             
        </div> -->
        
        <!-- Button to Add More Clients -->

        <!-- <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary" id="add-client-btn">Add Another Client</button>
            </div>
        </div> -->
        <input type="hidden" name="founder_count" id="founder_count" value="{{founders|length}}">
        <input type="hidden" name="url_count" id="url_count" value="{{social_media_urls|length}}">
        <input type="hidden" name="client_count" id="client_count" value="{{clients|length}}">

        <!-- <input type="hidden" name="founder_count" id="founder_count" value="1">
        <input type="hidden" name="url_count" id="url_count" value="2">
        <input type="hidden" name="client_count" id="client_count" value="2"> -->
        <!-- <button type="submit" class="btn btn-primary">Save</button> -->

        <div class="row mt-5 mb-5">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>

<!-- <script>
    var founderCount = 1;
    document.getElementById('add-founder-btn').addEventListener('click', function () {
        founderCount++;
        document.getElementById('founder_count').value = founderCount;

        var newFounderSection = document.querySelector('.founder-section').cloneNode(true);
        newFounderSection.querySelector('h4').textContent = 'Founder ' + founderCount + ' Details';
        newFounderSection.querySelectorAll('input, textarea').forEach(function (input) {
            input.name = input.name.replace(/founder\d+/, 'founder' + founderCount);
            input.value = '';
        });

        document.getElementById('founders-section').appendChild(newFounderSection);
    });

    var urlCount = 2;
    document.getElementById('add-url-btn').addEventListener('click', function () {
        urlCount++;
        document.getElementById('url_count').value = urlCount;

        var newUrlInput = document.querySelector('input[name="url_1"]').parentElement.parentElement.cloneNode(true);
        newUrlInput.querySelector('label').textContent = 'URL ' + urlCount;
        newUrlInput.querySelector('input').name = 'url_' + urlCount;
        newUrlInput.querySelector('input').value = '';

        document.getElementById('social-media-section').appendChild(newUrlInput);
    });

    var clientCount = 2;
    document.getElementById('add-client-btn').addEventListener('click', function () {
        clientCount++;
        document.getElementById('client_count').value = clientCount;

        var newClientInput = document.querySelector('input[name="client_1"]').parentElement.parentElement.cloneNode(true);
        newClientInput.querySelector('label').textContent = 'Client ' + clientCount;
        newClientInput.querySelector('input').name = 'client_' + clientCount;
        newClientInput.querySelector('input').value = '';

        document.getElementById('clients-section').appendChild(newClientInput);
    });
</script>
     -->

    
    
{% endblock content %}

