{% extends '../base.html' %} {% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row mt-5 mb-5">
            <h4 class="mb-4 text-center">Parent Details</h4>
            {% for msg in messages %}
            <p class="text-danger mt-2 fw-bold text-center">{{msg}}</p>
            {% endfor %}
            <div class="col-md-6">
                <div class="mb-3 mt-3 inline">
                    <label for="username">Username</label>
                    <input type="text" class="form-control w-50" name="username" value="{{creator_data.username}}" readonly required>
                </div>
                <div class="mb-3 mt-3 inline">
                    <label for="email">Email</label>
                    <input type="email" class="form-control w-50" name="email" value="{{creator_data.email}}" readonly required>
                </div>
                <div class="mb-3 mt-3 inline">
                    <label for="phone_number">Phone Number</label>
                    <input type="number" class="form-control w-50" name="phone_number" value="{{creator_data.phone_number}}" readonly required>
                </div>
                <div class="mb-3 mt-3 inline">
                    <label for="linkedin_url">Linkedin URL</label>
                    <input type="url" class="form-control w-50" name="linkedin_url" value="{{creator_data.linkedin_url}}" readonly required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 mt-3 inline">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control w-50" name="firstname" value="{{creator_data.firstname}}" readonly required>
                </div>
                <div class="mb-3 mt-3 inline">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control w-50" name="lastname" value="{{creator_data.lastname}}" readonly required>
                </div>
                <div class="mb-3 mt-3 inline">
                    <label for="user_type">User Type</label>
                    <input type="text" class="form-control w-50" name="user_type" value="{{creator_data.user_type}}" readonly required>
                </div>
                <div class="mb-3 inline">
                    <label for="role">Role</label>
                    <input type="text" class="form-control w-50" name="role" value="{{creator_data.role}}" readonly required>
                </div>
            </div>
        </div>
        
        <!-- <div class="text-center mt-5 mb-3">
            <button type="submit" class="btn btn-secondary border-radius pl pr mb-3" style="width:15%">Submit</button>
        </div> -->
    </form>
</div>
{% endblock content %}