{% extends './base.html' %}
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body text-center">
          <h3>Forgot Password</h3>

          <form method="post">
            {% csrf_token %}

            
            <div class="mb-3 mt-5 inline">
              <label for="otp">Enter OTP</label>
              <input type="number" class="form-control" name="otp" required>
            </div>

            <div class="mb-4 position-relative inline">
                <label for="new_password">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
                <span toggle="#new_password"
                  class="fa fa-fw fa-eye field-icon toggle-password position-absolute top-50 end-0 translate-middle-y pe-3"
                  style="cursor: pointer;margin-right:5px;"></span>
              </div>

              <div class="mb-4 position-relative inline">
                <label for="confirm_new_password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" required>
                <span toggle="#confirm_new_password"
                  class="fa fa-fw fa-eye field-icon toggle-password position-absolute top-50 end-0 translate-middle-y pe-3"
                  style="cursor: pointer;margin-right:5px;"></span>
              </div>

            <!-- <button type="submit" class="btn btn-primary mb-2">Submit</button> -->

            <div class="text-center mt-5 mb-3">
              <button type="submit" class="btn btn-secondary border-radius pl pr mb-3 w-50">Submit</button>
          </div>
          </form>

          {% for msg in messages %}
          <p class="text-danger text-center mt-2 fw-bold">{{msg}}</p>
          {% endfor %}

        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<script>
  document.querySelectorAll(".toggle-password").forEach(function (toggle) {
    toggle.addEventListener("click", function () {
      var input = document.querySelector(this.getAttribute("toggle"));
      var type = input.getAttribute("type") === "password" ? "text" : "password";
      input.setAttribute("type", type);
      this.classList.toggle("fa-eye");
      this.classList.toggle("fa-eye-slash");
    });
  });
</script>

{% endblock content %}
